# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
.pytest_cache/
.mypy_cache/

# Virtual environment
venv/
env/
.env
.venv/

# Database (auto-created on startup)
*.db
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db
